
#barra {
    tab-size: 4;
    color-scheme: dark; /* Fundo escuro */
    -webkit-font-smoothing: antialiased;
    border: 0 solid rgb(227, 217, 226);
    box-sizing: border-box;
    color: white; /* Letras brancas */
    font-family: inherit;
    font-weight: inherit;
    appearance: none;
    border-color: #fff; /* Bordas brancas */
    border-radius: 8px; /* Arredonda as bordas */
    font-size: 16px; /* Tamanho da fonte */
    line-height: 1.5rem;
    margin: 0;
    width: 100%;
    resize: none;
    background-color: black; /* Background preto */
    padding: 15px; /* Espaço interno aumentado */
    max-height: 200px;
    height: 44px;
    overflow-y: hidden;
}

div {
    margin-bottom: 10px; /* Ajuste conforme necessário */
}

body {
    background-color: #111; /* Cor de fundo escura */
    color: white; /* Letras brancas */
    font-family: 'Archivo Black', sans-serif;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    color: white; /* Letras brancas */
    background-color: black; /* Fundo preto */
    border: 2px solid #ffffff; /* Bordas brancas */
}

.btn:hover {
    background-color: red; /* Fundo vermelho ao passar o mouse */
    color: white; /* Letras brancas ao passar o mouse */
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.rating {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.star {
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}

